<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
        <style>
            body, html {
                width: 100%;
                height: 100%;
                margin: 0;
            }

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                padding: 0 15px;
            }

            #sidebar,
            #rightbar {
                flex: 0 1 25%;
            }

            #main {
                display: flex;
                flex: 0 0 50%;
                margin-top: 15px;
            }

            #main > div {
                width: 75%;
                padding: 0 15px;
            }

            .available-quests li {
                cursor: pointer;
            }

            .quest-panel {
                padding: 15px;
                border: 1px solid black;
                border-radius: 0.25rem;
            }

            .quest-title {
                margin: 0.75rem 0 0.5rem;
                font-size: 1.25rem;
                text-align: center;
            }

            .assistant-config {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 450px;
                height: 450px;
                padding: 15px;
                background: white;
                border: 1px solid black;
                border-radius: 0.5rem;;
                transform: translate(-50%, -50%);
            }
        </style>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div
                v-if="firingAssistant"
                class="assistant-config">
                <p>Are you sure you want to fire {{ firingAssistant.name }}? This action cannot be undone!</p>

                <div style="text-align: center;">
                    <button style="margin-right: 15px;" @click="fireAssistant(firingAssistant)">Fire</button>
                    <button @click="cancelFiring()">Cancel</button>
                </div>
            </div>

            <div 
                v-if="configuringAssistant"
                class="assistant-config">
                <p>{{ configuringAssistant.name }}</p>
                <p>{{ configuringAssistant.name }} will randomly perform one of the following tasks:</p>
            
                <!-- Hard coding this for now -->
                <template v-if="configuringAssistant.skills.includes('mining')">
                    Mining
                    <ul>
                        <li 
                            v-for="item in items.filter((i) => i.skill === 'mining' && i.level <= s.levels.mining)"
                            :key="item.item_id">
                            <label>
                                <input 
                                    type="checkbox" 
                                    :checked="configuringAssistant.config.mining.includes(item.item_id)"
                                    @click="toggleAssistantJob(configuringAssistant, 'mining', item.item_id)">
                                {{ getItem(item.item_id)?.name }}
                            </label>
                        </li>
                    </ul>
                </template>
                <template v-else-if="configuringAssistant.skills.includes('smithing')">
                    Smithing
                    <ul>
                        <li 
                            v-for="item in items.filter((i) => i.skill === 'smithing' && i.level <= s.levels.smithing)"
                            :key="item.item_id">
                            <label>
                                <input 
                                    type="checkbox"
                                    :checked="configuringAssistant.config.smithing.includes(item.item_id)"
                                    @click="toggleAssistantJob(configuringAssistant, 'smithing', item.item_id)">
                                    {{ item.name }}
                            </label>
                        </li>
                    </ul>
                </template>
                <template v-else>
                    Selling
                    <ul>
                        <li
                            v-for="item in items.filter((i) => i.level <= s.levels[i.skill])"
                            :key="item.item_id">
                            <label>
                                <input 
                                    type="checkbox"
                                    :checked="configuringAssistant.config.selling.includes(item.item_id)"
                                    @click="toggleAssistantJob(configuringAssistant, 'selling', item.item_id)">
                                    {{ getItem(item.item_id)?.name }}
                            </label>
                        </li>
                    </ul>
                </template>

                <div style="text-align: right;">
                    <button
                        style="margin-right: 15px;"
                        @click="saveAssistantConfig(configuringAssistant)">Save</button>
                    <button @click="() => {configuringAssistant = null}">Cancel</button>
                </div>
            </div>

            <div 
                v-if="statsShown"
                class="stats"
                style="flex: 1 0 100%;">
                <p>Lifetime Gold: {{ s.stats.lifetime_wealth }}</p>

                <p>Gathered Material</p>
                <ul>
                    <li
                        v-for="gather in s.stats.gathers"
                        :key="gather.item_id">
                        {{ `${getItem(gather.item_id)?.name}: ${gather.value}` }}
                    </li>
                </ul>

                <p>Crafted Items</p>
                <ul>
                    <li
                        v-for="craft in s.stats.crafts"
                        :key="craft.item_id">
                        {{ `${getItem(craft.item_id)?.name}: ${craft.value}` }}
                    </li>
                </ul>

                <p>Gold from Selling</p>
                <ul>
                    <li
                        v-for="sale in s.stats.sales"
                        :key="sale.item_id">
                        {{ `${getItem(sale.item_id)?.name}: ${sale.value}gp` }}
                    </li>
                </ul>
            </div>

            <div id="sidebar">
                <div>
                    <p>Levels</p>
                    <div>
                        <p>Mining {{ s.levels.mining }}</p>
                        <progress :value="xpForSkill('mining')" max="100" />
                    </div>

                    <div>
                        <p>Smithing {{ s.levels.smithing }}</p>
                        <progress :value="xpForSkill('smithing')" max="100" />
                    </div>
                </div>

                <div>
                    <p>Inventory</p>
                    <ul>
                        <li>Gold {{ s.gold }}</li>
                        <li v-for="invItem in s.inventory" :key="invItem">
                            {{ getItem(invItem.item_id).name }} x{{ invItem.quantity }}
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Mining</p>
                    <ul class="ore-list">
                        <li v-for="ore in availableOreList" :key="ore.item_id">
                            <button type="button" @click="userDidMine(ore)">{{ ore.name }}</button>
                            <button 
                                type="button"
                                @click="userDidSell(ore)"
                                :disabled="!hasInventory(ore)">$</button>
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Smithing</p>
                    <ul class="smithing-list">
                        <li v-for="smithable in availabeSmithableList" :key="smithable.item_id">
                            <button 
                                type="button"
                                @click="userDidSmith(smithable)"
                                :disabled="!userCanCraft(smithable)">{{ smithable.name }}</button>
                            <button 
                                type="button"
                                @click="userDidSell(smithable)"
                                :disabled="!hasInventory(smithable)">$</button>
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Hired Assistants ({{ `${s.assistants.length}/${s.global_variables.max_assistants}` }})</p>
                    <ul>
                        <li
                            v-for="assistant in s.assistants"
                            :key="assistant.id">
                            {{ assistant.name }} <br>
                            Assistant Speed: {{ (assistant.interval / 1000).toFixed(2) }}s<br>
                            Assistant Wages: {{ assistant.cost_per_action }}gp<br>
                            Assistant is: {{ getAssistantJob(assistant) }}<br>
                            Assistant Perk: {{ assistant.perk.description }}<br>
                            <button
                                type="button"
                                @click="upgradeAssistant(assistant)"
                                :title="getAssistantUpgradeTitle(assistant)"
                                :disabled="!canUpgradeAssistant(assistant)">
                                Train {{ getAssistantUpgradeCost(assistant) }}gp
                            </button>
                            <button
                                type="button"
                                @click="editAssistant(assistant)">Edit Job</button>
                            <button
                                type="button"
                                @click="confirmFireAssistant(assistant)">Fire Assistant</button>
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Autoers</p>

                    <ul>
                        <li 
                            v-for="autoer in currentAutoers"
                            :key="autoer.id"
                            style="margin-bottom: 1rem;">
                            {{ autoer.name }} <br>
                            <span v-html="getUpgradeValueText(autoer)"></span><br>
                            <template v-if="!getUpgradeRequirementText(autoer).length">
                                Max Level
                            </template>
                            <template v-else>
                                <p style="margin: 0.25rem 0;">Upgrade Requirements</p>
                                <p style="margin: 0;">Levels: {{ getUpgradeRequirementText(autoer).join(',') }}</p>
                                <p style="margin: 0 0 0.25rem;">Gold: {{ getUpgradeCost(autoer) }}</p>

                                <button
                                    type="button"
                                    :title="autoer.description"
                                    @click="userPurchasedUpgrade(autoer)"
                                    :disabled="!canUpgradeUpgrade(autoer)">
                                    Upgrade
                                </button>
                            </template>
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Current Upgrades</p>
                    <ul class="available-upgrades">
                        <li 
                            v-for="upgrade in currentUpgrades" 
                            :key="upgrade.id">
                            {{ upgrade.name }}
                            <br>
                            <template v-if="!getUpgradeRequirementText(upgrade).length">
                                Max Level
                            </template>
                            <template v-else>
                                <p style="margin: 0.25rem 0;">Upgrade Requirements</p>
                                <p style="margin: 0;">Levels: {{ getUpgradeRequirementText(upgrade).join(',') }}</p>
                                <p style="margin: 0 0 0.25rem;">Gold: {{ getUpgradeCost(upgrade) }}</p>

                                <button
                                    type="button"
                                    :title="upgrade.description"
                                    @click="userPurchasedUpgrade(upgrade)"
                                    :disabled="!canUpgradeUpgrade(upgrade)">
                                    Upgrade
                                </button>
                            </template>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="main">
                <div>
                    <div class="quest-panel" v-if="viewingQuest">
                        <h2 class="quest-title">{{ viewingQuest.name }}</h2>
                        <p class="quest-desc">{{ viewingQuest.description }}</p>

                        <div class="requirements">
                            <div class="quest-level-requirements">
                                <p>Level Requirements</p>
                                <ul class="level-reqs">
                                    <li v-for="(value, levelKey) in viewingQuest.requirements.levels" :key="levelKey">
                                        <span :style="{ color: s.levels[levelKey] >= value ? 'green' : 'red' }">
                                            {{ `${levelKey}: ${value}` }}
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="quest-quest-requirements">
                                <p>Quest Requirements</p>
                                <ul 
                                    v-if="viewingQuest.requirements.quests.length"
                                    class="quest-reqs">
                                    <li 
                                        v-for="questId in viewingQuest.requirements.quests"
                                        :key="questId">
                                        {{ getQuest(questId)?.name }}
                                    </li>
                                </ul>
                                <p v-else>None</p>
                            </div>
                        </div>

                        <div>
                            <p>Rewards</p>
                            <ul class="quest-rewards">
                                <li v-for="(reward, idx) in viewingQuest.rewards" :key="idx">
                                    <template v-if="reward.category === 'experience'">
                                        {{ `${reward.value} ${reward.affects} xp` }}
                                    </template>
                                    <template v-else-if="reward.category === 'item' && getItem(reward.item_id)">
                                        {{ `${reward.value}x ${getItem(reward.item_id).name}` }}
                                    </template>
                                    <template v-else-if="reward.category === 'money'">
                                        {{ `${reward.value} gold` }}
                                    </template>
                                    <template v-else-if="reward.category === 'assistant'">
                                        A {{ reward.affects }} assistant
                                    </template>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <button 
                                v-if="!isQuestStarted(viewingQuest)"
                                type="button"
                                class="start-quest"
                                @click="acceptQuest(viewingQuest)"
                                :disabled="!canStartQuest(viewingQuest)">Start</button>
                            <button 
                                v-if="isQuestStarted(viewingQuest)"
                                type="button"
                                class="complete-quest"
                                :disabled="!canCompleteQuest(viewingQuest)">Complete</button>
                        </div>

                        <hr v-if="currentQuest" style="margin: 1rem 0;">

                        <div v-if="currentQuest" class="current-quest">
                            <p class="quest-title">Quest Progress</p>

                            <ul class="quest-steps">
                                <li 
                                    v-for="questStep in currentQuest.steps"
                                    :style="{
                                        textDecoration: getCurrentQuestStep() > questStep.id ? 'line-through' : 'none',
                                    }">
                                    {{ questStep.description }}
                                </li>
                            </ul>

                            <div>
                                <button 
                                    type="button"
                                    class="complete-step"
                                    @click="completeQuestStep"
                                    :disabled="!canCompleteQuestStep(currentQuest)">Complete Step</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="rightbar">
                <div>
                    <p>Available Autoers</p>
                    <ul class="available-autoers">
                        <li 
                            v-for="autoer in availableAutoers"
                            :key="autoer.id">
                        {{ autoer.name }} | {{ getUpgradeCost(autoer) }}gp <br>
                        <span v-html="getUpgradeValueText(autoer)"></span><br>
                        <button
                            type="button"
                            :title="autoer.description"
                            @click="userPurchasedUpgrade(autoer)"
                            :disabled="!canUpgradeUpgrade(autoer)">
                            {{ s.purchased_autoers.find((a) => a.id === autoer.id) ? 'Upgrade' : 'Buy '}}
                        </button>
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Available Assistants</p>
                    <ul class="available-assistants">
                        <li 
                            v-if="availableAssistants.length"
                            v-for="assistant in availableAssistants"
                            :key="assistant.id">
                            Name: {{ assistant.name }} <br>
                            Skills: {{ assistant.skills.join(',') }} <br>
                            Perk: {{ assistant.perk.description }} <br>
                            Wages: {{ assistant.cost_per_action }}gp <br>
                            <button
                                type="button"
                                :disabled="!canHireAssistant(assistant)"
                                @click="hireAssistant(assistant)">
                                Hire for {{ getAssistantCost(assistant) }}
                            </button>
                        </li>
                        <li v-else>None Available</li>
                    </ul>
                </div>

                <div>
                    <p>Available Upgrades</p>
                    <ul class="available-upgrades">
                        <li v-for="upgrade in availableUpgrades" :key="upgrade.id">
                            {{ upgrade.name }} <br>
                            <button 
                                type="button"
                                :title="upgrade.description ?? 'An upgrade'"
                                @click="userPurchasedUpgrade(upgrade)"
                                :disabled="!canUpgradeUpgrade(upgrade)">
                                Buy for {{ getUpgradeCost(upgrade) }}gp
                            </button>
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Quests</p>
                    <ul class="available-quests">
                        <li 
                            v-for="quest in availableQuests"
                            :key="quest.id"
                            @click="updateQuestPanel(quest)">
                            <span :style="{ color: canStartQuest(quest) ? 'black' : 'red' }">{{ quest.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="upgrades.js"></script>
        <script src="autoers.js"></script>
        <script src="items.js"></script>
        <script src="quests.js"></script>
        <script src="script.js"></script>
    </body>
</html>